<launch>
	<include file="$(find sn_launch)/launch/hector.launch" />
	<include file="$(find sn_launch)/launch/rviz.launch" />
	
	<node name="laser_segmentation" pkg="sn_segmentation" type="laser_segmentation" output="screen">
	    	<param name="distance" type="double" value="0.5" />
  	</node>

  	<!-- Parameter files (Kinect) -->
  	<arg name="kinect_segmentation_node_param_file" default="$(find sn_segmentation)/param/kinect_segmentation_node.yaml"/>
  	<rosparam file="$(arg kinect_segmentation_node_param_file)" command="load" />

  	<node name="kinect_segmentation" pkg="sn_segmentation" type="kinect_segmentation_node" output="screen" launch-prefix="gdb -ex run --args">
    		<param name="input" type="string" value="/camera/depth_registered/points" />
  	</node>

	<node name="transformer" pkg="sn_transform" type="detection_transformer_node" output="screen">
	    <param name="input" type="string" value="/detections" />
	    <param name="ouput" type="string" value="detections" />
	    <param name="target_frame" type="string" value="/map" />
	    <param name="timeout" type="double" value="0.5" />
	</node>

	<node name="tracking" pkg="sn_tracking" type="tracking_node" output="screen">
	    <param name="input" type="string" value="/transformer/detections" />
	    <param name="threshold" type="double" value="0.5" />
	    <param name="time_threshold" type="double" value="1.0" />
	</node>
</launch>
