<launch>

	<include file="$(find sn_launch)/launch/hector.launch" />
	<include file="$(find sn_launch)/launch/rviz.launch" />
	
	<node name="laser_segmentation" pkg="sn_segmentation" type="laser_segmentation" output="screen">
    	<param name="distance" type="double" value="0.5" />
  	</node>

</launch>
