<launch>
  <arg name="extractor_params" default="$(find sn_features)/param/params.yaml"/>
  <rosparam file="$(arg extractor_params)" command="load" />

  <node name="sequence_viewer" pkg="sn_tools" type="sn_tools_sequence_viewer" output="screen">
  	<param name="source_dir" type="string" value="/home/duceux/Desktop/phd-dataset/edited_trackers/" />	
  	<param name="target_dir" type="string" value="/home/duceux/Desktop/phd-dataset/sequence/" />	
   	<param name="edit_all" type="bool" value="true" />	
   	<param name="saving" type="bool" value="true" />	
  </node>
  <node name="rviz_1" pkg="rviz" type="rviz" args="-d $(find sn_launch)/param/tracker_viewer.rviz"/>
</launch>
