<launch>
  <arg name="extractor_params" default="$(find sn_features)/param/params.yaml"/>
  <rosparam file="$(arg extractor_params)" command="load" />

  <node name="sequence_viewer" pkg="sn_tools" type="sn_tools_sequence_viewer" output="screen">
	<param name="filename" type="string" value="/home/robotic/Desktop/datasets/kdb_trackers/all.bag" />	
  </node>
  <node name="rviz_1" pkg="rviz" type="rviz" args="-d $(find sn_launch)/param/tracker_viewer.rviz"/>
</launch>
