<launch>
  <node name="tracker_viewer" pkg="sn_tools" type="sn_tools_tracker_viewer" output="screen">
  	<param name="source_dir" type="string" value="/home/duceux/Desktop/phd-dataset/trackers/" />	
  	<param name="target_dir" type="string" value="/home/duceux/Desktop/phd-dataset/edited_trackers/" />	
   	<param name="edit_all" type="bool" value="false" />	
  </node>  
  <node name="rviz_1" pkg="rviz" type="rviz" args="-d $(find sn_launch)/param/tracker_viewer.rviz"/>
</launch>
